/* ROOT */

:root {
    --light-blue-background: #f8f8ff;
    --primary-color: hsl(11, 87%, 59%);
}

a{
    text-decoration: none;
    color: black;
}

br {
    display: flex;
    height: 1px;
    width: 20px;
    color: #282828;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

html {
    height: 100vh;
}

html, body, #root {
    height: 100%;
    color: #282828;
    scrollbar-width: none;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    display: flex;
    color: var();
    justify-content: center;
}

#root {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    
    
}



/* NAV  */

.nav {
    width: 236px;
    display: none;
    flex-direction: column;
    padding:  24px;
    gap: 45px;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(121, 121, 121, 0.15); 
    z-index: 2;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    overflow-y: auto;
    
}

.logo-div{
    display: grid;
    width: 30px;
}

.logo-div img {
    aspect-ratio: 1/1;
    width: 50px;
    
}


.nav-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.profile-link {
    margin-top: auto;
    font-size: 15px;
    font-weight: 500;
}

.dashboard-link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    font-weight: 500;
}

.dashboard-link span {
    font-size: 17px;
    color: #292929;
}






/* MAIN DIV */


.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    background: rgb(255, 246, 229);
    z-index: 12;
    padding-inline: 18px;
    border-bottom: 2px solid transparent;
    
}

.mobile-header img {
    height: 40px;
}

.mobile-header span {
    font-size: 21px;
}

.mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 12;
    background: rgb(255, 246, 229);
    padding-inline: 50px;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav a {
    display: flex;
    align-items: center;
    padding: 8px;
}

.mobile-nav a img {
    height: 23px;
    
}

.mobile-nav a img.progress-icon {
    height: 19px;
    width: 20px;
}

.mobile-nav .nav-selected {
    border-radius: 100%;
    background: rgb(255 255 255);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.mobile-nav .nav-selected img {
    color: #4CAF50;
}

.main-div {
    background: rgb(255, 246, 229);
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    width: 100%;
    
}

.mode-nav {
    display: flex;
    gap: 30px;
    padding-top: 24px;
}

.mode-nav button {
    background: inherit;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Slider */

.slider-horizontal {

    min-height: 274px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.slider-wrapper {
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    height: 100%;
    gap: 22px;
    scrollbar-width: none;
    padding: 24px 12px 0 12px;
    margin-left: 12px;
    cursor: grab; /* Add this */
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
    scroll-snap-type: x mandatory;
    transition: transform 0.2s ease-in-out;
    
}

.slider-item-swipe {
    display: flex;
}

.slider-wrapper:active {
    cursor: grabbing;
}

.slider-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}


.slider-item{
    display: flex;
    flex-direction: column;
    height: 250px;
    background-size: cover;
    padding: 16px;
    border-radius: 16px;
    justify-content: space-between;
    width: 380px;
    scroll-snap-align: start;
    flex-shrink: 0;
    
}



.slider-item-one {
    background-image: url("/src/assets/design-pink.png");;
}

.slider-item-two {
    background-image: url("/src/assets/design-green.png");
}

.slider-item-one .slider-big-text {
    color: #ffffff;
    font-size: 31px;
    font-weight: 450;
}


.slider-item-one .slider-par {
    font-size: 10.5px;
    color: #ffffff;
    opacity: 0.7;
    font-weight: 500;
}

.slider-options-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slider-item-one .slider-options-div p {
    font-size: 11px;
    color: #ffffff;
}

.slider-item-one .slider-options-div span {
    padding: 12px;
    font-size: 17px;
    background: #ffffff;
    border-radius: 100%;
    color: purple;
}




.main-label-div {
    display: flex;
    padding: 24px 12px 24px 12px;
}

.main-label-div p {
    font-size: 23px;
    font-weight: 500;
}


.chats-options {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 12px;
    scrollbar-width: none;
    padding-inline: 12px;
    background: rgb(255, 246, 229);
    padding-bottom: 90px;
    
}


.chat-card {
    
    background: white;
    border-radius: 20px;
    display: flex;
    width: 100%;
    border: 1px solid rgb(223 223 223);
    justify-content: space-between;
    overflow: hidden;
    
}

.chat-card .chat-card-img img {
    
    
    width: 100%;
    max-height: 100%;
    
}

.chat-card .chat-card-img {
    
    
    display: flex;
    align-items: end;
    justify-content: end;
    max-width: 164px;
    
    
    
}

.chat-card .chat-card-info {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 12px;
    gap: 16px;
    width: 56.666%;
    flex: 1;
}

.chat-card .chat-card-info h2 {
    font-size: 23px;
    font-weight: 470;
}

.chat-card .chat-card-info .card-tags {
    display: flex;
    gap: 10px;
    font-size: 11px;
    
}
.chat-card .chat-card-info .card-tags .tag {
    background: #EAEBF9;
    padding: 4px 8px;
    border-radius: 24px;
    opacity: 0.7;
    color: #282828;
}

.card-desc {
    font-size: 14.5px;
    font-weight: 500;
}

.card-light-desc {
    font-size: 11px;
    color: #868686;
    padding-top: 5px;
    font-weight: 450;
}


.quizzes-options {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow-y: auto;
    gap: 12px;
    scrollbar-width: none;
}

.active-tab {
    display: flex;
}

.quiz-card {
    background: white;
    border-radius: 20px;
    display: flex;
    width: 100%;
}

.quiz-card .quiz-card-info {
    padding: 24px 0px 24px 24px;
}

.quiz-card .quiz-card-info .card-tags {
    display: flex;
    gap: 10px;
}


/* DASHBOARD DIV */

.dashboard-div {
    z-index: 2;
    display: none;
    flex-direction: column;
    width: 34%;
    box-shadow: 0 4px 8px rgba(121, 121, 121, 0.15);
    position: sticky;
    top: 0;
    height: 100vh;
    
}

.dashboard-div.dashboard-progress {
    width: 200px;
}

.dashboard-div .dashboard-header {
    display: flex;
    padding: 24px ;
    position: sticky;
}

.dashboard-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard-div .dashboard-streak {
    padding: 0 24px;
}

.dashboard-greeting {
    padding: 0 24px;
}



/* MODES PAGE */

.modes-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none;
    
}

.mobile-header.modes {
    background: #fffbf4;
    border-bottom: 2px solid #e9e9e9 ;
}

.modes-div {
    display: flex;
    flex-direction: column;
    background: var(--light-blue-background);
    background: #fffbf4;
    width: 100%;
}



.modes-title-wrapper {
    display: flex;
    position: sticky;
    align-items: center;
    padding: 12px;
    font-size: 16px;
    gap: 10px;
    top: 80px;
    z-index: 12;
    background: #fffbf4;
}

.modes-title-wrapper h2 {
    font-weight: 500;
    font-size: 23px;
}

.chat-mode-info {
    display: flex;
    flex-direction: column;

}

.chat-mode-info p {
    color: #868686;
    font-size: 15px;
    font-weight: 500;
    margin-left: 38px;
}

.chat-mode-info .card-tags {
    display: flex;
    margin-left: 38px;
    padding-block: 12px;
    gap: 8px;
}

.chat-mode-info .card-tags span {
    padding: 4px 8px;
    background: #EAEBF9;
    font-size: 11px;
    opacity: 0.6;
    border-radius: 24px;
    font-weight: 450;
}

.card-mode-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;
    gap: 12px;
    padding: 12px;
    scrollbar-width: none;
}

.card-mode-list .chat-mode-card {
    display: flex;
    flex-direction: column;
    height: 228px;
    background-size: cover;
    background-position: center; /* Add this */
    background-repeat: no-repeat; /* Add this */
    padding: 12px;
    border-radius: 24px;
    box-shadow: inset 10px 10px 30px 10px rgba(0,0,0,0.5),
                inset 0px -20px 20px -10px rgba(0,0,0,0.5);
                overflow: hidden;
}

.chat-mode-card .chat-card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.chat-mode-card .chat-card-info h2 {
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
    text-shadow: 2.5px 2.5px 2px rgba(0.5, 0.5, 0.5, 0.8);
    overflow-wrap: break-word;
}

.chat-card-info .card-tags span {
    padding: 4px 8px;
    background: #ffffff;
    color: #a1a1a1;
    border-radius: 24px;
    font-size: 11px;
    font-weight: 500;
}

.about-modes-div {
    display: none;
    flex-direction: column;
    width: 40%;
    box-shadow: 0 4px 8px rgba(121, 121, 121, 0.15);
    position: sticky;
    top: 0;
    height: 100vh;
}

.about-modes-div h2 {
    display: flex;
    padding: 24px;
}

.about-modes-div .info-card {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 24px;
    border: 1px solid #e4e4e4;
    border-radius: 12px;
}

.about-modes-div .info-card h2 {
    padding: 0;
}

.modes-card-tags {
    display: flex;
    gap: 16px;
    padding-block: 24px;
}




.mobile-modal-underlay {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 50;
    align-items: end;
    background: rgb(80, 80, 80);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.5s ease;
}

.mobile-modal-underlay.open {
    visibility: visible;
    opacity: 0.4;
}

.mobile-modal {
    position: fixed;
    bottom: -100%;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background: #ffeed2;
    padding-bottom: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    z-index: 55;
    transition: bottom 0.3s ease-in-out, transform 0.1s ease-out;
    
}

.mobile-modal.open {
    bottom: 0;
    
}

.profile-list-div.modal {
    background: #ffefd4;
    padding-inline: 12px;
}

.profile-list-div.modal .profile-header h2 {
    font-weight: 500;
}

.profile-list-div.modal .profile-menu {
    background: #ffefd4;
}

.profile-menu-btn {
    background: #ffffff;
}

.modal-drag-down {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background: #ffefd4;
    user-select: none;
    
}

.drag-indicator{
    display: flex;
    width: 50px;
    height: 2px;
    background: black;
    border-radius: 20px;
}

.profile-list-div.modal .profile-header{
    padding-top: 0px;
    padding-bottom: 20px;
    border: none;
}

.profile-list-div.modal .profile-menu {
    margin: 0;
    padding: 0;
    gap: 10px;
}





/* CHAT */

.chat-div {
    display: flex;
    position: sticky;
    flex-direction: column;
    padding-inline: 24px;
    height: 100vh;
    width:60%;
    background: rgb(255, 250, 243);
    transition: width 0.2s ease-in-out;
    
}

.chat-div.expanded {
    width: 100%;
}

.chat-label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 24px;
}

.chat-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.modal-overlay {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  
  .options-modal {
    position: relative;
    z-index: 6;
  }
  
  .fa-ellipsis-vertical {
    position: relative;
    z-index: 6;
  }

.teacher-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-settings {
    display: flex;
    gap: 20px;
    padding-block: 24px;
}

.chat-settings button {
    background: none;
    border: none;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .chat-settings button:hover {
    background: #f5f5f5;
  }

  .chat-history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #e4e4e4;
}

.chat-history-item button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.delete-chat-btn {
    color: #F44336;
}
  

.chat-msg-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding-block: 24px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.message-wrapper {
    display: flex;
    max-width: 83%;
    align-items: center;
    gap: 8px;
}

.message-wrapper .fa-circle-info {
    font-size: 17px;
    color: #acacac;
}

.wrapper-user {
    display: flex;
    margin-left: auto;
}

.chat-msg-wrapper::-webkit-scrollbar {
    display: none;
}

.message{
    display: flex;
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    
    flex-direction: column;
    gap: 7px;
}

.message.assistant {
    margin-right: auto;
    background: white;
}

.message.user {
    margin-left: auto;
    background: var(--primary-color);
    color: white;
}

.message .msg-options-div {
    display: flex;
    margin-right: auto;
    gap: 8px;
}

.message.user .repeat-msg {
    display: none;
}
.message.user .translate-msg {
    display: none;
}

.message .repeat-msg {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgb(224, 224, 224);
    padding: 3px 6px;
    border-radius: 10px;
}

.message .translate-msg {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgb(224, 224, 224);
    margin-right: auto;
    padding: 3px 6px;
    border-radius: 10px;
}

.repeat-msg .fa-rotate-right {
    display: grid;
    aspect-ratio: 1/1;
    place-self: center;
    vertical-align: middle;
    font-size: 13px;
    height: 12px;
}

.message .repeat-msg p {
    font-size: 13px;
}

.translate-msg .fa-language {
    display: grid;
    aspect-ratio: 1/1;
    place-self: center;
    vertical-align: middle;
    font-size: 14px;
    height: 13px;
}

.message .repeat-msg p {
    font-size: 13px;
}

.message .translate-msg p {
    font-size: 13px;
}





.chat-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 24px;
}

.assistant-options {
    display: flex;
    padding-block: 10px;
    gap: 20px;
}




.assistant-options span {
    display: flex;
    padding-inline: 14px;
    border: 1px solid black;
    padding-block: 8px;
    border-radius: 16px;
    font-size: 11px;
}

.assistant-options.hidden {
    display: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    height: 76px;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding-inline: 10px;
}

.input-wrapper .input-btn {
    display: flex;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    align-items: center;
    background: var(--light-blue-background);
    border: none;
    width: 50px;
    border-radius: 12px;
    justify-content: center;
    color: var(--primary-color);
    font-size: 16px;

}

.input-wrapper .arrow-right {
    background: var(--primary-color);
    color: white;
}



.topics {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    justify-content: space-between;
    
}

.topics .choose-topic-btn {
    display: flex;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    margin-left: auto;
}






/* CHAT INFO */

.chat-info-div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 4px 8px rgba(121, 121, 121, 0.15);
    padding-inline: 24px;
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
    transform-origin: right;
    opacity: 1;
    z-index: 2;
}

.chat-info-div.hidden {
    transform: translateX(200%);
    opacity: 0;
    width: 0;
    padding-inline: 0;
    height: -100vh;
    
}

.chat-info-div .chat-info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 24px;
    border-bottom: 1px solid black;;
}

.chat-info-list {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    overflow-y: auto;
    scrollbar-width: none;
}

.default-chat-info-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 18px;
    padding: 12px 24px;
    gap: 12px;
}

.chat-info-card-icons {
    display: flex;
    gap: 16px;
    
}

.chat-info-card-icons span {
    display: flex;
    aspect-ratio: 1/1;
    height: 30px;
    border-radius: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.chat-info-card-icons span i {
    display: flex;
    aspect-ratio: 1/1;
    height: 16px;
}

.check {
    background: green;
}

.user-circle {
    background: blue;
}

.severity-indicator{
    display: flex;
    justify-content: start;
    padding-bottom: 18px;
    border-bottom: 1px black solid;
}

.message-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
}

.severity-indicator .circle {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.circle.green { background: #4CAF50; }
.circle.yellow { background: #FFC107; }
.circle.red { background: #F44336; }

.feedback-card {
    padding: 15px;
    border-radius: 22px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: none;
}

.feedback-card.green { background: #E8F5E9; }
.feedback-card.yellow { background: #ffde71; }
.feedback-card.red { background: #FFEBEE; }

.chat-info-div .fa-xmark {
    cursor: pointer;
}





/* LANDING PAGE */


.landing-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.landing-page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-top: 82px;
}

.landing-header {    display: flex;
    position: fixed;
    top: 7px;
    width: 90%;
    max-width: 1200px;
    z-index: 8;
    justify-content: space-between;
    height: 74px;
    align-items: center;
    background: var(--primary-color);
    padding-inline: 15px;
    border-radius: 35px;
}

.hero-div {
    display: flex;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}

.hero-img-div img {
    height: 540px;

}



/* REGISTRATION PAGE */


.registration-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: rgb(219, 99, 19);
    height: 100vh;
}

.registration-content {
    display: flex;
    flex-direction: column;
    background: rgb(255, 250, 240);
    align-items: center;
    width: 100%;
    
}

.registration-content.null-step {
    height: 100vh;
}

.mobile-get-started-reg-div {
    display: flex;
    align-items: center;
    height: 33.3%;
    overflow: hidden;
    background: rgb(255, 244, 223);
    width: 100%;
    justify-content: center;
}

.mobile-get-started-reg-div img {
    display: grid;
    object-fit: cover;
    height: 100%;
    margin-top: 30px;
}

.get-started-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    padding-top: 60px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: #ffffff;
    flex: 1;
    
}

.get-started-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-inline: 24px;
    padding-bottom: 55px;
}

.get-started-text p {
    color: #b9b9b9;
    font-size: 15px;
    font-weight: 520;
    text-align: center;
    line-height: 24px;
}

.absolute-logo-div {
    display: flex;
    position: absolute;
    background: rgb(255, 239, 209);
    top: -40px;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 20;
}

.absolute-logo-div img {
    width: 46px;
    height: auto;
    
    
}

.get-started-text h1 {
    color: #282828;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;
}





.teacherfullimg {
    display: none;
    aspect-ratio: 2/1;
    height: 280px;
    width: 240px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
    padding-inline: 12px;
}

.reg-btn-action {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 15px;
    padding: 5px 0;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    padding: 12px;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid rgb(223 223 223)
}

.registration-btn {
    background: rgb(211, 90, 9);
    color: rgb(234 235 249);
    border: none;
}

.reg-step-action-btns {
    margin-top: auto;
    padding-inline: 12px;
}

.reg-step-action-btns button {
    margin-bottom: 24px;
}   

.reg-step-action-btns .login-anc {
    margin-bottom: 24px;
}

.bottom-br-line.reg-step {
    height: 2px;
    background: #DFDFDF;
}

.login-btn {
    background: rgb(255, 243, 221);
    color: rgb(180, 80, 14);
    border: none;
}

.bottom-reg-a {
    margin-top: auto;
    align-items: center;
    justify-content: center;
}

.bottom-reg-a p {
    margin-bottom: 12px;
    color: #868686;
    text-decoration: underline;
    line-height: 2.5rem;
    text-underline-offset: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.registration-content.step-div {
    width: 100%;
    min-height: calc(100vh - 80px);
}

.reg-progress-animation {
    position: relative;
    height: 8px;
    width: 100%;
    background: rgb(255, 194, 145);
}

.reg-progress-animation div {
    position: absolute;
    height: 8px;
    left: 0;
    top: 0;
    width: 20%;
    background: orangered;
}

.registration-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    overflow: none;
}

.registration-step {
    display: flex;
    flex-direction: column;
    padding-inline: 18px;
    overflow: none;
    background: rgb(255, 250, 240);
    align-items: center;
    
}

.reg-step-header {
    display: flex;
    gap: 8px;
    margin-right: auto;
    
}

.reg-step-header h2 {
    font-weight: 550;
    font-size: 23px;
}

.reg-step-header span {
    margin-top: 9px;
}

.header-auth-div.registration {
    padding-inline: 18px;
    height: 130px;

}

.registration-info-p {
    padding-left: 24px;
    color: #BBBBBB;
    font-weight: 500;
    font-size: 14.5px;
    margin-right: auto;
    margin-top: 12px;

}


.lang-level-btn {
    display: flex;
    padding: 17px;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid rgb(223 223 223);
    justify-content: space-between;
}

.lang-level-name-span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.reg-btn-action.skip-btn {
    margin-bottom: 12px;
}

.registration-auth-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.or-div.signup-or {
    margin: 0;
    margin-top: 5px;
}

.reg-btn-action.registration-btn.auth {
    margin-top: 18px;
}

.bottom-br-line.auth {
    margin-top: 26px;
}

.terms-p {
    color: #BBBBBB;
    font-size: 11px;
    width: 90%;
    margin-bottom: 30px;
}

.reg-btn-action.google-btn.auth {
    margin-top: 12px;
}

/* LOGIN PAGE */


.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 250, 240);
    padding-inline: 12px;
    min-height: 100vh;
    align-items: center;
}

.header-auth-div {
    margin-right: auto;
    display: flex;
    overflow: hidden;
    height: 80px;
    padding-inline: 6px;
    align-items: center;
    width: 100%;
    background: rgb(255, 250, 240);
}

.header-auth-div img {
    height: auto;
    width: 48px;
}

.login-content{
    width: 100%;
}

.login-content .login-header-options {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 44px;
    
}

.login-header-options h2 {
    font-size: 24px;
    font-weight: 500;
}

.google-btn {
    gap: 4px;
    font-weight: 500;
}

.google-btn img {
    display: grid;
    width: 33px;
}

.or-div {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 17px;
    margin-bottom: 5px;
}

.first-or-div {
    height: 0.5px;
    background: rgb(223 223 223);
    flex: 1;
}

.second-or-div {
    height: 0.5px;
    background: rgb(223 223 223);
    flex: 1;
}

.or-div p {
    padding-inline: 24px;
    color: #BBBBBB;
    font-weight: 500;
    font-size: 15px;
}


.login-label-div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    
}

.password-div {
    position: relative;
}

.password-div .fa-eye {
    position: absolute;
    right: 15px;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #BBBBBB;
}


.forgot-password {
    margin-left: auto;
    color: #BBBBBB;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: -0.3px;
    text-underline-offset: 4px;
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 8px;
}



.login-label-div label{
    font-weight: 500;
    font-size: 15px;
    color: #282828;
}

.login-label-div input {
    padding: 16px 10px;
    font-weight: 500;
    color: rgb(40 40 40);
    opacity: 0.85;
    border: 1px solid rgb(223 223 223);
    border-radius: 16px;
    width: 100%;
    font-size: 15px;

}

.bottom-br-line {
    width: 100%;
    height: 0.5px;
    background: #d6d6d6;
    margin-top: auto;
    margin-bottom: 24px;
}

.login-anc {
    display: flex;
    justify-content: center;
    gap: 6px;
    color: #868686;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 12px;
}

.login-anc a {
    color: rgb(207, 111, 0);
    text-decoration: underline;
    text-underline-offset: 4px;
}


/* RESET PASSWORD LOGIN */

.login-header-options.reset-password-header {
    margin-bottom: 0;
}

.forgot-password-p {
    padding-left: 28px;
    font-size: 15px;
    margin: 10px 20px 0 0;
    font-weight: 520;
    color: #BBBBBB;
}

.login-label-div.reset-password-label-div {
    padding-top: 44px;
}

.registration-form.forgot-password-form {
    gap: 0;
}


.reg-btn-action.registration-btn.send-instructions-btn{
    margin-top: auto;
    margin-bottom: 24px;
}

.bottom-br-line.forgot-password {
    margin-top: 0;
    width: 100%;
}

.bottom-br-line.check-email {
    margin-bottom: 12px;
    margin-top: 0px;
}

.registration-btn.check-email {
    margin-bottom: 20px;
}

.robot-img {
    display: grid;
    height: 300px;
    width: 300px;
    margin-top: auto;

}






.language-options {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 12px;
    margin-top: 32px;
    width: 100%;
}

.img-span {
    display: flex;
    place-items: center;
    border: 1px solid rgb(223 223 223);
    padding: 14px;
    border-radius: 18px;
    background: #FFFFFF;
}

.language-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.language-option .lang-name-span {
    font-size: 15px;
    font-weight: 500;
}

.language-option.selected .img-span {
    border: 1px solid rgb(219, 99, 19);
}

.lang-flag {
    display: grid;
    aspect-ratio: 1/1;
    height: 50px;
}

.reg-process-btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: auto;
}

.level-options {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 12px;
    width: 100%;
}

.goal-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    width: 100%;
}

.goal-options button {
    display: flex;
    height: 60px;
    justify-content: start;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgb(223 223 223);
    background: #ffffff;
    font-weight: 500;
    font-size: 15px;
    gap: 8px;
}

.lang-goal-btn img {
    width: 24px;
}

.reason-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    margin-bottom: 120px;
    width: 100%;
    
    scrollbar-width: none;
    max-height: calc(100vh - 200px)
    
    
}

.reason-options button {
    display: flex;
    height: 60px;
    justify-content: start;
    align-items: center;
    padding: 13px;
    border-radius: 20px;
    border: 1px solid rgb(223 223 223);
    background: #ffffff;
    font-weight: 500;
    font-size: 15px;
    gap: 8px;
}

.reason-options button img {
    width: 24px;
}

.reg-step-action-btns.reason-learning {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: rgb(255, 250, 240);
    justify-content: center;
    bottom: 0;
    left: 0;

}

.auth-options {
    display: flex;
    flex-direction: column;
}



.profile-mode {
    display: flex;
    flex: 1;
    

}

.profile-list-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-inline: 24px;
    background: var(--light-blue-background);
}

.profile-header {
    display: flex;
    align-items: center;
    padding-block: 24px;
    gap: 12px;
    border-bottom: 1px solid rgb(206, 206, 206);
    
    
}

.profile-menu {
    display: flex;
    flex-direction: column;
    padding-block: 24px;
    margin-top: 34px;
    background: white;
    padding-inline: 24px;
    border-radius: 24px;
    gap: 16px;

}

.profile-menu-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding:16px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 16px;
}

.profile-menu-btn span {
    font-size: 18px;
    font-weight: 600;
}

.profile-menu-btn p {
    font-size: 15px;
}

.profile-menu-option p {
    font-size: 15px;
}

.profile-menu-btn .profile-menu-small-text {
    font-size: 11px;
    color: grey;
}

.profile-menu-btn span.fa-arrow-right-from-bracket {
    color: rgb(202, 44, 44);
}

.log-out-text {
    color: rgb(202, 44, 44);
}

.profile-options-div {
    display: flex;
    flex-direction: column;
    width: 0;
    transform: translateX(200%);
    opacity: 0;
    
}

.profile-options-div .profile-option-h-div {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 24px;
}

.profile-options-div.expanded {
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(0);
    box-shadow: 0 4px 8px rgba(121, 121, 121, 0.15);
    padding-inline: 24px;
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
    transform-origin: right;
    opacity: 1;

}

.profile-options-btn-list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 18px;
    padding-inline: 16px;
    
}

.profile-menu-option {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-block: 18px;
    border-top: 1px solid rgb(216, 216, 216);
}

.profile-options-btn-list > :first-child {
    border-top: 0px;
}

.profile-menu-option span {
    font-size: 18px;
    font-weight: 600;
}

.profile-menu-option .profile-menu-small-text {
    font-size: 11px;
    color: grey;
}

.lang-select {
    width: 100%;
}

.lang-select option {
    display: flex;
    align-items: center;
    padding: 5px;
}

.lang-select option img {
    width: 20px;
    margin-right: 8px;
}

.custom-select {
    
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    position: absolute;
    width: 90%;
    left: 0;  
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-inline: 24px;
}

.custom-select::-webkit-scrollbar {
    display: none;
  }
  
  .select-option {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    user-select: none;
  }
  
  .select-option img {
    width: 20px;
    margin-right: 8px;
  }
  
  .select-option:hover {
    background-color: #f5f5f5;
  }
  
  .select-option.selected {
    background-color: #e6e6e6;
  }

  .select-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    user-select: none;
  }

  .select-header img {
    width: 20px;
    margin-right: 8px;
  }

  .select-header .fa-chevron-down {
    margin-left: auto;
  }





  /* PROGRESS */

.progress-header{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    padding-block: 24px;
    border-bottom: 1px solid lightgray;
}


.progress-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.progress-stat-large {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(219, 99, 19);
    border-radius: 20px;
    padding: 24px;
    height: 346px;
    border: 1px solid rgb(230, 230, 230)
}

.progress-level-subdiv {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.font-medium {
    color: #E8F5E9;
    font-size: 22px;
    font-weight: 500;
}

.font-light-small {
    font-size: 15px;
    color: #b1b1b1;
    font-weight: 450;
}

.border-div {
    border-top: 1px solid lightgray;
}

.level-track {
    display: flex;
    width: 100%;
    background: #E8F5E9;
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 16px;
    gap: 12px;
    align-items: center;
}

.level-track-inside {
    position: relative;
    flex: 1;
    background: rgb(231, 216, 193);
    height: 8px;
    border-radius: 14px;
}

.level-track-outside {
    position: absolute;
    height: 8px;
    background: rgb(219, 99, 19);
    width: 33%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.font-medium.level-current {
    color: rgb(219, 99, 19);
    font-size: 22px;
}

.font-medium.level-next {
    color: rgb(253, 187, 89);
    font-size: 22px;
}

.progress-streak-subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-stat-large.progress-light-stat{
    background: #ffffff;
    
}

.font-medium.dark {
    color: #282828
}

.font-light-small.dark {
    color: #8f8f8f  
}

.streak-number-dark {
    background: rgb(219, 99, 19);
    padding: 12px;
    border-radius: 40px;

}

.streak-number-dark p {
    color: #E8F5E9;
    font-weight: 450;
}

.streak-number-light {
    background: rgb(250, 230, 193);
    padding: 12px;
    border-radius: 40px;
}

.streak-number-light p {
    color: rgb(219, 99, 19);
    font-weight: 450;
    
    
}


.progress-stat-small {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid rgb(230, 230, 230);
}


.stat-subdiv {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stat-icon-div {
    display: grid;
    height: 60px;
    width: 60px;
    background: #ffdb63;
    padding-top: 16px;
    justify-content: center;
    border-radius: 12px;
}

.stat-icon-div span {
    
    font-size: 27px;
    color: rgb(185, 121, 0);
    
}

.stat-icon-div.messages {
    background: rgb(180, 245, 142);
}

.stat-icon-div.messages span {
    color: rgb(72, 134, 0);
}
